<div class="w-full h-screen flex justify-center items-center">
	<div class="w-full md:w-1/2 lg:w-1/3 bg-gray-100 rounded-md p-4">
        <h2 class="text-2xl mb-4 text-center">New drawing for (Topic hier)</h2>
        <div>
            <div class="flex flex-col mb-2">
                <label for="dropdown" class="text-sm">Select an option</label>
                <select id="dropdown" class="h-10 rounded-md">
                    @for(option of dropdownOptions ;track $index) {
                    <option [value]="option">
                        {{ option }}
                    </option>
                    }
                </select>
            </div>
            <div class="mb-2">
                <label for="description" class="text-sm">Description</label>
                <textarea id="description"
                    class="w-full border rounded-md p-2 h-32">
                </textarea>
            </div>
        </div>
        <div class="text-center">
            <p class="text-sm text-left">Drawing area</p>
            <canvas #drawingCanvas
                (mousedown)="startDrawing($event)"
                (mousemove)="draw($event)"
                (mouseup)="stopDrawing()"
                (mouseleave)="stopDrawing()"
                style="border:1px solid lightgray;"
                class="rounded-md w-full mb-2 bg-white">
            </canvas>
            
            <app-button (click)="clearCanvas()" buttonText="Clear" class="mr-1"></app-button>
            <app-button buttonText="Submit" class="ml-1"></app-button>
        </div>
	</div>
</div>
