<body class="w-full h-screen flex justify-center items-center -mt-12">
    <script src="https://accounts.google.com/gsi/client" async></script>
    
	<div id="g_id_onload"
        [attr.data-client_id]="client_id"
        data-callback="handleCredentialResponse"
        data-auto_prompt="false">
    </div>


    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>

</body>


<script>
	function handleCredentialResponse(response) {
	  console.log("Encoded JWT ID Token: " + response.credential);
	  localStorage.setItem("google_token", response.credential);
	  window.dispatchEvent(new CustomEvent("google-signin-success", { detail: response.credential }));
	}
</script>
  

