<div class="m-4 text-center">
	<img src="https://images.pexels.com/photos/316466/pexels-photo-316466.jpeg"
		alt="bg"
		class="absolute top-0 left-0 w-full h-screen -z-50">
	<h2 class="text-2xl">Select a topic</h2>
	<div class="my-4 flex flex-col">
		<app-button buttonText="Numbers"
			height="60px"
			width="300px">
		</app-button>
		<app-button buttonText="A-Z"
			height="60px"
			width="300px">
		</app-button>
		<app-button buttonText="Basic shape"
			height="60px"
			width="300px">
		</app-button>
	</div>
</div>
