<div class="relative">
	<!-- Hamburger Button -->
	<button (click)="toggleMenu()" class="md:hidden fixed top-4 right-4 z-50 bg-black text-white p-2 rounded-md">
		☰
	  </button>
	  
  
	<!-- Sidebar Navigation -->
	<div [ngClass]="{'hidden': !menuOpen, 'block': menuOpen, 'md:block': true}" class="fixed inset-y-0 right-0 bg-white shadow-md w-64 h-full z-40 p-4 transition-transform transform md:translate-x-0" [class.translate-x-full]="!menuOpen">
	  <div class="flex flex-col justify-between h-full">
		<div>
		  <div class="text-center mb-12 mt-7">
			<h2 class="font-stalemate text-4xl">Hand Drawing App</h2>
		  </div>
		  <div>
			<ng-container *ngIf="userRole == 'UEjEnMYFPoKvwMOauVnY'">
			  <button (click)="navigateToManagerOverview()" class="nav-btn">Topic Overview</button>
			  <button (click)="navigateToTopicManagement()" class="nav-btn">Topic Management</button>
			  <button (click)="navigateToWriterManagement()" class="nav-btn">Writer Management</button>
			</ng-container>
			
			<ng-container *ngIf="userRole == 'rnBKQzZVTlsqyOqufFq5'">
			  <button (click)="navigateToManagerManagement()" class="nav-btn">Manager Management</button>
			</ng-container>
			
			<ng-container *ngIf="userRole == 'dfaNnrXgH6bqFys0Sw44'">
			  <button (click)="navigateToTopicOverview()" class="nav-btn">New Drawing</button>
			  <button (click)="navigateToMyDrawings()" class="nav-btn">My Drawings</button>
			</ng-container>
		  </div>
		</div>
		<div class="w-full text-center">
		  <div class="flex justify-center items-center mb-2">
			<p class="text-sm no-b">Logged in as <span class="font-bold">{{ user.name }}</span></p>
			<button (click)="toggleProfileMenu()">
			  <img *ngIf="user?.picture" [src]="user.picture" alt="Profile" class="profile-img">
			  <img *ngIf="!user?.picture" src="https://img.freepik.com/free-vector/user-circles-set_78370-4704.jpg" alt="Profile" class="profile-img">
			</button>
		  </div>
		  <button (click)="logout()" class="nav-btn w-1/2">Logout</button>
		</div>
	  </div>
	</div>
  </div>
  
  <!-- Profile Menu Modal -->
  <div *ngIf="profileMenuOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
	<div class="bg-gray-100 w-72 p-5 rounded-lg shadow-lg relative flex flex-col items-center">
	  <img *ngIf="user?.picture" [src]="user.picture" alt="Profile" class="w-20 h-20 rounded-full border border-gray-300 -mt-12 bg-white p-1 shadow-md">
	  <h3 class="text-lg font-semibold mt-3">{{ user.name }}</h3>
	  <p class="text-gray-600 text-sm">{{ user.email }}</p>
	  <button (click)="profileMenuOpen = false" class="nav-btn w-full">Close</button>
	</div>
  </div>
  